In [1]:
import pandas as pd

In [4]:
df_access_30 = pd.read_csv('datasets/access-30-sample.csv')

In [5]:
df_access_30.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   host       699 non-null    object
 1   ident      699 non-null    object
 2   user       699 non-null    object
 3   time       699 non-null    object
 4   verb       699 non-null    object
 5   url        699 non-null    object
 6   httpver    699 non-null    object
 7   status     699 non-null    int64
 8   size       699 non-null    int64
 9   referer    699 non-null    object
 10  useragent  699 non-null    object
dtypes: int64(2), object(9)
memory usage: 60.2+ KB

In [6]:
df_access_30.head()

,host,ident,user,time,verb,url,httpver,status,size,referer,useragent
0,54.253.92.102,-,-,29/Jan/2023:03:10:02 +0000,GET,/api/getwaflbanners/position/sidebar,HTTP/1.1,301,178,"-"" ""GuzzleHttp/7",54.253.92.102
1,54.253.92.102,-,-,29/Jan/2023:03:10:02 +0000,GET,/api/getwaflbanners/position/bottom-banner,HTTP/1.1,301,178,"-"" ""GuzzleHttp/7",54.253.92.102
2,54.253.92.102,-,-,29/Jan/2023:03:10:02 +0000,GET,/api/getwaflbanners/position/sidebar,HTTP/1.1,301,178,"-"" ""GuzzleHttp/7",54.253.92.102
3,54.253.92.102,-,-,29/Jan/2023:03:10:03 +0000,GET,/api/getwaflbanners/position/bottom-banner,HTTP/1.1,301,178,"-"" ""GuzzleHttp/7",54.253.92.102
4,54.253.92.102,-,-,29/Jan/2023:03:10:03 +0000,GET,/api/getwaflbanners/position/sidebar,HTTP/1.1,301,178,"-"" ""GuzzleHttp/7",54.253.92.102

In [8]:
df_access_31 = pd.read_csv('datasets/access-31-sample.csv')

In [9]:
df_access_31.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   host       699 non-null    object
 1   ident      699 non-null    object
 2   user       699 non-null    object
 3   time       699 non-null    object
 4   verb       699 non-null    object
 5   url        699 non-null    object
 6   httpver    699 non-null    object
 7   status     699 non-null    int64
 8   size       699 non-null    int64
 9   referer    699 non-null    object
 10  useragent  699 non-null    object
dtypes: int64(2), object(9)
memory usage: 60.2+ KB

In [10]:
df_access_31.describe()

           status          size
count  699.000000  6.990000e+02
mean   237.911302  1.490051e+04
std     51.190757  6.137657e+04
min    200.000000  0.000000e+00
25%    200.000000  1.780000e+02
50%    200.000000  1.761000e+03
75%    301.000000  9.689000e+03
max    499.000000  1.015362e+06

In [11]:
df_error_30 = pd.read_csv('datasets/err-30.csv')

ParserError: Error tokenizing data. C error: Expected 8 fields in line 490, saw 12

In [12]:
df_sys_30 = pd.read_csv('datasets/system.0.6.csv')

In [13]:
df_sys_30.describe()

               day
count  8011.000000
mean     30.134565
std       0.341280
min      30.000000
25%      30.000000
50%      30.000000
75%      30.000000
max      31.000000

In [14]:
df_sys_31 = pd.read_csv('datasets/system.0.7.csv')

In [15]:
df_sys_31.describe()

          day
count  6913.0
mean     31.0
std       0.0
min      31.0
25%      31.0
50%      31.0
75%      31.0
max      31.0